body {
    background-image: url(../img/ia-translator.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: #000000f2;
    width: 500px;
    border-radius: 25px;
    padding: 20px;
}

.input-text {
    width: 100%;
    height: 100px;
    border: none;
    outline: none;
    background-color: #ffffff1a;
    border-radius: 15px;
    color: #fff;
    font-size: 16px;
    padding: 15px;
    resize: none;;
}

.language {
    width: 100%;
    border: none;
    border-radius: 20px;
    outline: none;
    padding: 10px;
    background-color: #ffffff1a;
    color: #fff;
}

.language option {
    background-color: #3d3b3b;
}

button {
    border: none;
    padding: 10px;
    background-color: #ffffff1a;
    border-radius: 50%;
    cursor: pointer;
}

button:hover {
    background-color: #ffffff33;
}

.controls {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.answer {
    padding: 15px;
    background-color: #ffffff1a;
    border-radius: 15px;
}

.title {
    color: #ffffff99;
    font-size: 14px;
    margin-bottom: 10px;
}

.translation {
    color: #fff;
    font-size: 18px;
}